.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #f3f9fa;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 4em);
  width: 32em;
  height: 32em;
  background-color: rgb(173 255 173);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  border: 1px solid rgb(85 85 85);
}

.stone {
  width: 3em;
  height: 3em;
  background-color: white;
  border-radius: 100%;
}

.scores {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 10em;
}

.can {
  width: 1em;
  height: 1em;
  background-color: rgb(130 181 111);
  border-radius: 100%;
}

.pass {
  color: blue;
  background-color: aqua;
}
